@import '../../Colors/Color.scss';


.heading {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: $white;
}

.headingCont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 35px;
    margin-top: 25px;
}

