@import '../../Colors/Color.scss';


.heading {
    display: flex;
    font-size: 32px;
    line-height: 38.73px;
    font-weight: 500;
    gap: 10px;
    color: #FFFFFF;
    align-items: center;
}

.headingCont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 32px;
}

