@import '../../Colors/Color.scss';


.heading {
    font-family: var(--font-family);
    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: left;
}

.headingCont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 35px;
    margin-top: 25px;
}

