.mainContainer {
    max-width: 1114px;
    width: 100%;
    padding: 44px 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
}

.albums {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
}

.songs {
    background-color: #280038;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    margin: 16px;
    cursor: pointer;
    box-sizing: border-box;

    @media (max-width: 1024px) {
        width: 45%;
        margin-top: 30px;
    }

    @media (max-width: 768px) {
        width: 100%;
        margin: 10px 0;
    }
}

.photo {
    border-radius: 15px;
    width: 100%;
    height: 400px;
    max-width: 500px;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 500;
}

.img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}


@media (max-width: 1024px) {
    .mainContainer {
        padding: 20px;
    }

    .albums {
        font-size: 18px;
    }

    .icon {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .mainContainer {
        padding: 10px;
        margin-left: 10px;
    }

    .albums {
        font-size: 16px;
        position: relative;
        right: 34px;
        margin-bottom: 30px;
    }

    .icon {
        font-size: 14px;
    }

    .wrapper {
        width: 320px;
        margin-left: 10px;
    }
}

@media (max-width: 390px) {
    .mainContainer {
        padding: 10px;
        margin-left: 10px;
    }

    .albums {
        font-size: 16px;
        position: relative;
        right: 35px;
        margin-bottom: 30px;
    }

    .icon {
        font-size: 14px;
    }

    .wrapper {
        width: 320px;
        margin-left: 10px;
    }
}

@media (max-width: 400px) {
    .mainContainer {
        margin: 0px -4px auto;
    }

    .albums {
        font-size: 16px;
        position: relative;
        right: 46px;
        margin-bottom: 30px;
    }

    .icon {
        font-size: 14px;
    }

    .wrapper {
        width: 320px;
        margin-left: 10px;
    }
}


@media (width: 344px) {
    .mainContainer {
        margin: 0px -18px auto;
    }

    .albums {
        font-size: 16px;
        position: relative;
        right: 55px;
        margin-bottom: 30px;
    }

    .icon {
        font-size: 14px;
    }

    .wrapper {
        width: 320px;
        margin-left: 10px;
    }
}


@media (width: 540px) {
    .mainContainer {
        margin: 0px 50px auto;
    }

    .albums {
        font-size: 16px;
        position: relative;
        right: 55px;
        margin-bottom: 30px;
    }

    .icon {
        font-size: 14px;
    }

    .wrapper {
        width: 320px;
        margin-left: 10px;
    }
}