@import '../../Colors/Color.scss';

.responsiveImage {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 570px;
    border-radius: 15px;
    margin-top: 20px;
}

.underline {
    text-decoration: underline;
    font-weight: 800;
    color: $pink-2;
}
