@import '../../../Colors/Color.scss';

.container {
    display: flex;
    gap: 11px;
    align-self: flex-end;
}

.navButton {
    background-color: transparent;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid $purple-400;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
        background-color: $purple-400;
        border-color: $purple-600;
        transform: scale(1.1);
    }

    &:hover {
        background-color: $gray-100;
    }
}

.userPfp {
    background-color: transparent;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
}

.userMenu {
    position: relative;
}

.dropdownMenu {
    color: white;

    button {
        position: absolute;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background: black;
        display: block;
        width: 121px;
        padding: 10px 37px;
        border: none;
        color: inherit;
        bottom: -40px;
        text-align: left;
        cursor: pointer;
        transform: translate(-50%, 0);
        z-index: 2;

        &:hover {
            background: purple;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #333;
        }
    }
}

@media screen and (max-width: 1300px) {
    .container {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        position: absolute;
        top: 23px;
        left: 21px;
        z-index: 9;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .dropdownMenu {
        position: relative;
        right: 0px;

        button {
            transform: translate(0, 0);
        }
    }
}