.button {
    background-color: transparent;
    border: none;
    display: flex;
    align-self: center;
    margin-top: 3px;
    cursor: pointer;
}

.button.active img {
    filter: invert(45%) sepia(73%) saturate(6278%) hue-rotate(285deg) brightness(86%) contrast(84%);
}