@import '../../Colors/Color.scss';

.mainContainer {
    max-width: 1114px;
    width: 100%;
    padding: 44px 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
}

.albums {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
    color: $white;
}

.songs {
    background-color: #280038;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    margin: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.photo {
    border-radius: 15px;
    width: 100%;
    height: 400px;
    max-width: 500px;
    object-fit: cover;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 500;
}

.img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}
