@import '../../../Colors/Color.scss';


.heading {
    display: flex;
    align-items: center;
    gap: 9px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: $white;
}

.cards {
    display: flex;
    gap: 32px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 60px;
}

.cards * {
    flex-shrink: 0;
    scroll-snap-align: center;

}


.cardsHeading {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: $white;
    display: flex;
    gap: 10px;
    margin-bottom: 16px;

}

.cards::-webkit-scrollbar {
    height: 6px;


}

.cards::-webkit-scrollbar-thumb {

    background-color: $fiveColor;
    border-radius: 20px;
    display: none;


}

.cards::-webkit-scrollbar-thumb:hover {
    background-color: $purplelight;


}

@media screen and (max-width: 600px) {
    
    .main {
        padding: 24px 20px;
    }
}
