@import '../../Colors/Color.scss';

.container {
    width: 100%;
    padding: 0 20px;
}

.SearchBar {
    display: flex;
    justify-content: center;
    padding-top: 44px;
    width: 100%;
}


.Title {
    display: flex;
    justify-content: left;
    padding-top: 20px;
    margin-left: 15px;
}


.headingCont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    color: $white;
}

.Songs {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: left;
    margin-top: 20px;
}
.noSongs {
    color: $primaryColor;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;

}

@media screen and (max-width: 600px) {
   
    .headingCont {
        margin-left: -15px;
    }

    .noSongs {
        margin-top: 25px;
    }

    .Title {
        padding: 0px;
    }
    .Songs {
        justify-content: space-around;
    }
    
}




