.link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    width: fit-content;

    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        transition: all 0.2s;
        cursor: pointer;
    }

    &:hover p {
        color: #ff00d5;
    }
}