@import '../../Colors/Color.scss';

.carouselHeading {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin: 24px 0;
}

.carousel {
    position: relative;
    max-width: 512px;
    width: 100%;
    height: 256px;
    margin: auto;
    overflow: hidden;

    .imageWrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .slide {
        min-width: 100%;
        height: 100%;
    }

    img {
        max-width: 512px;
        width: 100%;
        height: 256px;
        object-fit: fill;
        border-radius: 25px;
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 25px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;

    &:hover {
        color: #ccc;
    }

    &:first-of-type {
        left: 10px;
    }

    &:last-of-type {
        right: 10px;
    }
}

@media screen and (max-width: 1884px) {
    .carousel {
        max-width: 512px;
    }
}

@media screen and (min-width: 1024px) {
    .carousel {
        max-width: 450px;
    }
}
