@import '../../Colors/Color.scss';


.mainContainer {
    max-width: 1114px;
    width: 100%;
    padding: 44px 20px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1884px) {
    .wrapper {
        justify-content: space-around;
    }
}

.carousel {
    max-width: 512px;
    width: 100%;
    height: 256px;

    div {
        width: 100%;
        height: 100%;
        border-radius: 25px
    }
}

.topContainer {
    display: flex;
    align-items: center;
    color: $primaryColor;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 32px;
}


@media screen and (max-width: 1301px) {
    .topContainer {
        max-width: 700px;
        justify-content: space-around;
        margin: auto;
    }

    .headingCont {
        display: flex;
        gap: 5px;
        max-width: fit-content;
        margin-bottom: 20px;

    }
}
@media screen and (min-width: 1024px) {
    .topContainer {
        width: 560px;
        justify-content: space-around;
        margin: auto;
    }

    .headingCont {
        display: flex;
        gap: 5px;
        max-width: fit-content;
        margin-bottom: 20px;

    }
}
@media screen and (max-width: 820px) {
    .mainContainer {
        padding: 80px 20px;
    }

    .headingCont {
        display: flex;
        gap: 5px;
        max-width: fit-content;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

.heading {
    font-family: var(--font-family);
    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: left;

}

.headingCont {
    display: flex;
    gap: 5px;
    max-width: fit-content;
    margin-bottom: 20px;
    margin-top: 20px;
}

