* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    background-image: url('/Music.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-components-container {
    display: flex;
    justify-content: space-between;
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #562065;
    border-radius: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    background: #8b2ca8;
}
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.children-container {
    max-width: 1114px;
    width: 100%;
    padding: 0 0 116px 0;
    min-width: 0;
}

@media screen and (max-width: 1300px) {
    .children-container {
        padding: 50px 0 116px 0;
    }
}

@media screen and (max-width: 600px) {
    html,
    body {
        max-width: 100vw;
        background-image: url('/phone.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 1920px) and (orientation: landscape) {
    body {
        transform: rotate(90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;

        background-image: url('/phone.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}
