@import '../../Colors/Color.scss';

.mainContainer {
    padding: 44px 20px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.heading {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: $white;
}

.headingCont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 35px;
}

@media screen and (max-width: 1884px) {
    .wrapper {
        justify-content: space-around;
    }
}

.topContainer {
    display: flex;
    width: 100%;
    width: 100%;
    align-items: center;
    color: $primaryColor;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 32px;
}

.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px;
    width: 100%;
}



@media screen and (max-width: 600px) {
    .mainContainer {
        padding: 40px 20px;
    }
}