@import '../../Colors/Color.scss';

.mainContainer {
    padding: 0px 20px;
    max-width: 1032px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.newPlaylist {
    border-radius: 40px;
    padding: 5px 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 183%;
    color: #fff;
    background: #ec07d0;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
        filter: brightness(1.1);
    }
}

.playlist {
    display: flex;
    align-items: center;
    margin-top: 16px;
    flex-direction: column;
    gap: 24px;
}

.listactive,
.listdisabled {
    width: 100%;
    max-width: 1032px;
    height: 76px;
    padding: 13px 22px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.listactive {
    background-color: $secondaryColor;
    color: $white;
}

.listdisabled {
    background-color: $purple-500;
    color: $white;
}

.span {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
}

.paragraph {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}

.image {
    width: 32.01px;
    height: 32.01px;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

/* Desktop styles */
@media (min-width: 1025px) {
    .span {
        font-size: 20px;
    }

    .paragraph {
        font-size: 15px;
    }

    .image {
        width: 32.01px;
        height: 32.01px;
    }
}

@media (min-width: 1920px) {
    .span {
        font-size: 20px;
    }

    .paragraph {
        font-size: 15px;
    }

    .image {
        width: 32.01px;
        height: 32.01px;
    }
}


.success {
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    top: 20px;
    padding: 20px;
    background-color: rgb(0, 163, 0);
    border-radius: 50px;
    border: 2px solid white;
    animation: up 2s 0s 1 forwards;
    z-index: 13;

    @keyframes up {
        0% {
            opacity: 1;
            top: -20px;
        }

        20% {
            opacity: 1;
            top: 20px;
        }

        50% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}


/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .span {
        font-size: 20px;
    }

    .paragraph {
        font-size: 15px;
    }

    .image {
        width: 30px;
        height: 30px;
    }

    .heading {
        margin-left: -34px;
    }
}

@media screen and (max-width: 600px) {
    .mainContainer {
        padding: 40px 0px;
    }
}
