@import '../../Colors/Color.scss';

.mainContainer {
    padding: 0 0 120px 0;
}

.container {
    padding: 0 20px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.playlist {
    display: flex;
    align-items: center;
    margin-top: 16px;
    flex-direction: column;
    gap: 24px;
}

.listactive,
.listdisabled {
    width: 100%;
    max-width: 1032px;
    height: 76px;
    padding: 13px 22px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.listactive {
    background-color: $secondaryColor;
    color: $white;
}

.listdisabled {
    background-color: $purple-500;
    color: $white;
}

.span {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
}

.paragraph {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}

.image {
    width: 32.01px;
    height: 32.01px;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
/* Desktop styles */
@media (min-width: 1025px) {
    .span {
        font-size: 20px;
    }

    .paragraph {
        font-size: 15px;
    }

    .image {
        width: 32.01px;
        height: 32.01px;
    }
}

@media (min-width: 1920px) {
    .span {
        font-size: 20px;
    }

    .paragraph {
        font-size: 15px;
    }

    .image {
        width: 32.01px;
        height: 32.01px;
    }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .span {
        font-size: 20px;
    }

    .paragraph {
        font-size: 15px;
    }

    .image {
        width: 30px;
        height: 30px;
    }

    .heading {
        margin-left: -34px;
    }
}
