@import '../../Colors/Color.scss';

.main {
    padding: 44px 20px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1114px;
    width: 100%;
}

.topContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 24px;
    gap: 20px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 9px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: $white;
}

.cards {
    display: flex;
    gap: 22px;
    overflow-x: scroll;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

.cards * {
    flex-shrink: 0;
    scroll-snap-align: center;
}

.cardsHeading {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: $white;
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.cards::-webkit-scrollbar {
    height: 5px;
    
}

.cards::-webkit-scrollbar-thumb {
    background-color: #562065;
    border-radius: 20px;
    
}



@media screen and (max-width: 600px) {
    .main {
        padding: 44px 20px;
    }
}

.cardCont {
    max-width: 231px;
    width: 100%;
}
