@import '../../../Colors/Color.scss';


.headingContainer {
    display: flex;
    margin-bottom: 22px;
    margin-top: 78.24px;
}

.heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: $white;
}

.listeningCard {
    border: 2px solid $thirdColor;
    border-radius: 20px;
    width: 396px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 203px;
    background: linear-gradient(180deg, $purple-100 7%, $purple-300 73%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.listeningIcon {
    width: 60px;
    min-height: 60px;
    border-radius: 100%;
    background-color: $purple-300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 30px;
}

.listeningName {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: $white;
    margin-bottom: 18px;
    margin-top: 5px;
}

.listeningInfos {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 280px;
    justify-content: center;
    margin-left: 150px;
}

.circle {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: $white-100;
    flex-shrink: 0;
}

.listeningInfo {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: $white-100;
    width: 100%;
}