@import '../../../Colors/Color.scss';


.headingContainer {
    display: flex;
    margin-bottom: 22px;
    margin-top: 44px;
}


.heading {
    font-size: 20px;
    color: $white;
    font-weight: 760;
    line-height: 19.6px;
    text-align: left;
}

.listeningCard {
    border: 2px solid #a93797;
    padding: 10px 95px;
    width: 396px;
    height: 203px;
    background: linear-gradient(180deg, rgba(227, 62, 159, 0.4) 0%, rgba(77, 37, 174, 0.4) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

.playing {
    font-size: 18px;
    font-weight: 590;
    line-height: 19.6px;
    text-align: left;
    color: #FFFFFF;
}

.listeningIcon {
    width: 60px;
    min-height: 60px;
    border-radius: 100%;
    background: linear-gradient(180deg, rgba(77, 37, 174, 0.4) 0%, rgba(227, 62, 159, 0.4) 100%);
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 30px;
}

.listeningName {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 18px;
    margin-top: 5px;
}

.listeningInfos {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 280px;
    justify-content: center;
    margin-left: 150px;
}

.circle {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: $white-100;
    flex-shrink: 0;
}

.listeningInfo {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: $white-100;
    width: 100%;
}