//////////////////////* Main Colors *///////////////////////////////////////

$primaryColor: #c338b5;
$secondaryColor: #fe476e;
$thirdColor: #a93797;
$fourColor: #a73797;
$fiveColor: #e84366;
$purplelight: #e84367af;
$white: #ffffff;
$white-100: #d9d9d9;
$white-200: #f7f7f9;
$black: #000;
$gray: rgba(0, 0, 0, 0.236);
$gray-100: rgba(255, 255, 255, 0.08);
$gray-200: rgba(255, 255, 255, 0.6);
$gray-300: rgba(255, 255, 255, 0.7);
$gray-400: rgba(128, 128, 128, 0.277);
$purple-100: #28112f;
$purple-200: #732788;
$purple-300: #562065;
$purple-400: #4e1a51;
$purple-500: #8e3581;
$purple-600: #eb00ff;
$purple-700: #7c3479;
$purple-800: #3c183b;
$bckcolor: rgba(217, 217, 217, 0.55);

//////////////////////* MainSearch Colors *///////////////////////////////////////

$searchPurple: rgba(178, 53, 166, 0.7);
$searchBlack: rgba(0, 0, 0, 0.5);
$searchsecondblack: rgba(217, 217, 217, 0);

//////////////////////* Player Colors *///////////////////////////////////////

$purplefirst: rgba(27, 14, 39, 0.6);
$purplesecond: rgba(115, 41, 106, 0.2);
$redlight: #ff5555;
$red: #ff0000;

//////////////////////* Signup / Signin Colors *///////////////////////////////////////

$purple-1: #a83696;
$purple-2: rgb(255, 96, 144);
$pink-1: #f784e3;
$red-1: #e91429;

//////////////////////* Content - Feed / Colors *///////////////////////////////////////

$primary-color: #6a0dad; // Purple
$secondary-color: #ff69b4; // Pink
$background-color: #121212; // Dark background
$text-color: #fff; // White text
$white-1: #b3b3b3;
$grey-1: rgba(0, 0, 0, 0.45);
$grey-2: #333;
$grey-3: #444;
$grey-4: #555;
$grey-5: #777;
$yellow-1: #fdb972;
$pink-1: #ff007f;
$pink-2: #9a388c;
