@import '../../Colors/Color.scss';

.player {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(50px) !important;
    background: $purplefirst !important;
    border: 1px solid $purplesecond !important;
    height: 116px;
    bottom: -116px;
    transition: all 0.5s;
    color: $white;
    gap: 10px;
    justify-content: center;
    padding-left: 100px;
}

@media screen and (max-width: 600px) {
    .player {
        z-index: 9;
    }
}

.pause {
    width: 33px;
    height: 33px;
    margin-bottom: 4px;
}

.player.active {
    bottom: 0;
}

.rhap_container {
    background: $white-200;
}

.rhap_controls-section {
    margin-bottom: 15px;
}

.rhap_progress-section {
    height: 20px;
    padding-bottom: 20px;
}

.rhap_main-controls-button {
    width: 80px !important;
    height: 80px !important;
}

.rhap_main-controls-button {
    width: 56px;
    height: 56px;
    display: block;
}

.rhap_main-controls-button svg {
    color: $redlight;
    width: 100%;
    height: 100%;
}

.rhap_progress-filled,
.rhap_progress-indicator {
    background-color: $redlight !important;
}

.rhap_button-clear.rhap_volume-button {
    color: $redlight !important;
}

.rhap_volume-bar,
.rhap_volume-indicator {
    background-color: $red;
}

.play {
    width: 19px;
    height: 25px;
}

.loop {
    width: 25px;
    height: 25px;
}

.mobileOpen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 100px;
    padding-left: 15px;
    z-index: 11;
}

.upNextPlayer {
    height: 15%;
    top: 0;
    z-index: 12;
}

.upNextPlayer .top {
    top: 6.5vh
}
