@import '../../Colors/Color.scss';


.mainContainer {
    max-width: 1114px;
    width: 100%;
    padding: 44px 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}




.SearchBar {
    display: flex;
    justify-content: center;
    width: 100%;

}

@media screen and (min-width: 1920px) {


    .topContainer {
        max-width: 65%;
        position: relative;
        left: 208.08px;
    }

}

@media screen and (max-width: 1837px) {
    .topContainer {

        justify-content: space-around;
        position: relative;
        left: 15px;
    }



    .containers {
        max-width: 369px;
        width: 100%;
    }

    .SearchBar {
        display: flex;
        justify-content: center;
        width: 650px;

    }
}

@media screen and (max-width: 1837px) {
    .topContainer {

        justify-content: space-around;
        position: relative;
        left: 15px;
    }



    .SearchBar {
        display: flex;
        justify-content: center;


    }
}

@media screen and (width: 1280px) {

    .SearchBar {
        display: flex;
        justify-content: center;


    }


}

@media screen and (max-width: 1360px) {
    .topContainer {

        justify-content: space-around;
        position: relative;
        left: 15px;
        margin: auto;
    }

    .SearchBar {
        display: flex;
        justify-content: center;
        width: 700px;

    }


}

@media screen and (max-width: 1024px) {
    .topContainer {
        max-width: 65%;
        margin-left: 0px;

    }


    .SearchBar {
        display: flex;
        justify-content: center;
        width: 567px;

    }
}

@media screen and (max-width: 820px) {
    .mainContainer {
        padding: 80px 20px;

    }

    .mainContainer {
        width: 460PX;


    }

    .SearchBar {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        width: 303px;
    }

}

@media screen and (max-width: 375px) {
    .mainContainer {
        padding: 80px 10px;
    }

    .mainContainer {
        width: 500px;

    }


    .SearchBar {
        display: flex;
        justify-content: center;
        margin-left: 20px;

    }
}

@media screen and (width: 768px) {


    .topContainer {

        margin-left: 170px;
    }

    .SearchBar {
        display: flex;
        justify-content: center;
        width: 600px;
        position: relative;
        right: 276px;

    }
}

@media screen and (width: 540px) {

    .topContainer {

        margin-left: 50px;
    }

    .SearchBar {
        display: flex;
        justify-content: center;
        margin-left: 20px;

    }
}

@media screen and (width: 450px) {


    .SearchBar {
        display: flex;
        justify-content: center;
        margin-left: 20px;

    }
}



@media screen and (width: 414px) {


    .SearchBar {
        display: flex;
        justify-content: center;
        margin-left: 20px;

    }

}

@media screen and (width: 344px) {
    .SearchBar {
        display: flex;
        justify-content: center;
        position: relative;
        right: 22px;

    }
}

@media screen and (width: 430px) {

    .SearchBar {
        display: flex;
        justify-content: center;


    }
}