@import '../../../../Colors/Color.scss';

.mainContainer {
    border-radius: 20px;
    padding: 34px 35px;
    width: 162px;
    height: 232px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 19px;
    cursor: pointer;
    transition: all 0.2s;
    background: linear-gradient(90deg, rgba(227, 62, 159, 0.4) 0%, rgba(77, 37, 174, 0.4) 100%);
}

.mainContainer:hover {
    transform: scale(0.96);
    filter: brightness(85%);
}

.name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: $white;
    width: 100%;
}

.plays {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    color: $white;
}