@import '../../../Colors/Color.scss';

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 64px;
    width: 402px; 
}

.heading p {
    font-size: 20px;
    color: $white;
    font-weight: 760;
    line-height: 19.6px;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
}
