@import '../../../Colors/Color.scss';

.artists {
    display: flex;
    align-items: center;
}

.containers {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.containers:hover {
    transform: scale(0.96);
    filter: brightness(85%);
}

.spans {
    display: flex;
    justify-content: space-between;
    max-width: 512px;
    width: 100%;
}

.firstspan {
    font-size: 20px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: left;
    color: $purple-600;
}

.default {
    font-size: 20px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: left;
    color: $white;
}

.img {
    max-width: 512px;
    border-radius: 15px;
    height: 256px;
}

@media screen and (width: 430px) {
    .img {
        max-width: 410px;
        height: 100%;
    }
}

@media screen and (width: 375px) {
    .img {
        max-width: 360px;
        height: 100%;
    }
}

@media screen and (width: 414px) {
    .img {
        max-width: 395px;
        height: 100%;
    }
}

@media screen and (width: 390px) {
    .img {
        max-width: 370px;
        height: 100%;
    }
}
