@import '../../../../Colors/Color.scss';

.container {
    width: 384px;
    height: 56px;
    padding: 16px;
    gap: 15px;
    border-radius: 10px;
    border: 2px solid $fourColor;
    display: flex;
    align-items: center;
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $purple-300;
}

.containerActive {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 20px;
    background: $fiveColor;
    border: 2px solid $fiveColor;
    border-radius: 10px;
    padding: 16px;
    width: 384px;
    height: 56px;
    gap: 15px;
}

.name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}