@import '../../../../Colors/Color.scss';

.container {
    width: 384px;
    height: 72px;
    padding: 12px;
    border-radius: 16px;
    gap: 15px;
    display: flex;
    align-items: center;
    border: 2px solid #a93797 ;
    background: linear-gradient(180deg, rgba(227, 62, 159, 0.04) 0%, rgba(77, 37, 174, 0.04) 100%);

}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $purple-300;
}

.containerActive {
    justify-content: flex-start;
    transition: all 0.2s;
    cursor: pointer;
    width: 384px;
    height: 72px;
    padding: 12px;
    border-radius: 16px;
    gap: 15px;
    display: flex;
    align-items: center;
    background: linear-gradient(175deg, rgba(227, 62, 159, 0.5) 0%, rgba(77, 37, 174, 0.5) 100%);
    border: 2px solid #a93797 ;
}

.name {
    font-family: var(--font-family);
    font-weight: 590;
    font-size: 16px;
    color: #fff;
}