@import '../../../Colors/Color.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: $primaryColor;

}

.subName {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: $white;
    text-align: right;
    max-width: 260px;
    width: 100%;
}