@import '../../../Colors/Color.scss';

.container {
    position: relative;
    max-width: 704px;
    width: 100%;
    align-self: center;
}

.mainSearch {
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: $gray-300;
    border: 2px solid $searchPurple;
    border-radius: 20px;
    padding: 16px 16px 16px 41px;
    max-width: 704px;
    width: 100%;
    height: 56px;
    box-shadow: 0 4px 4px 0 $searchBlack;
    background: $searchsecondblack;
}

.searchIcon {
    position: absolute;
    left: 14px;
    top: 16px;
    cursor: pointer;
}