.notification {
    position: fixed;
    bottom: 1rem;
    right: 13px;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    margin-left: 16px;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}

.notification.hide {
    opacity: 0;
    visibility: hidden;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.info {
    background-color: #2196f3;
}
