.fullscreenSpinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e1131;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #92099e;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    margin-top: 15px;
    font-size: 4vw;
    max-font-size: 20px;
    color: #333;
    text-align: center;
}
