@import '../../Colors/Color.scss';

.contentFeed {
    color: $white;
    padding: 20px;    
    border-radius: 10px;
    box-shadow: 0 10px 20px $grey-1;
    animation: fadeIn 1s ease-in-out;
    margin-top: 10px;


    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        animation: slideIn 1s ease-out;
        font-weight: 900;
        width: 60%;
        
    }

    p {
        margin-bottom: 20px;
        color: $white-1;
        animation: fadeIn 1.5s ease-in;
    }

    .filterButtons {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        animation: fadeInUp 1.5s ease-in-out;
        gap: 5px;
        flex-wrap: wrap;

        button {
            background: $grey-2;
            border: none;
            padding: 8px 16px;
            border-radius: 50px;
            color: $white;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background: $grey-3;
            }

            &.active {
                background: $pink-1;
                width: 250px;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    .chakrulos {
        color: $yellow-1 !important;
    }
    .clearButton {
        background: $grey-4;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-right: 10px;
        cursor: pointer;
        transition:
            background 0.5s ease,
            transform 5s ease;

        &:hover {
            background: $grey-5;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .content {
        opacity: 1;
        transform: translateY(0);
        transition:
            opacity 0.5s ease,
            transform 0.5s ease;

        &.fadingOut {
            opacity: 0;
            transform: translateY(20px);
        }

        p {
            font-size: 16px;
            color: $white-1;
            animation: fadeInUp 2s ease-in-out;
        }
    }

    .responsiveImage {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 570px;
        border-radius: 15px;
        margin-top: 20px;
    }

    .underline {
        text-decoration: underline;
        font-weight: 800;
        color: $pink-2;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
